.container
  p
    | List all tasks by user
  ul.list-group
    li.list-group-item(ng-repeat='task in admin.tasks')
      strong {{task.name}}
      br
      span.text-muted {{task.from | date:'d MMM, yyyy (h:mm a'}} - {{task.from | date:' h:mm a)'}}
      strong.text-muted.pull-right {{task.User.name}}

